<launch>
    <node name="control_node" pkg="controle_module" type="control_main.py" output="screen" respawn="true" respawn_delay="1" >
        <rosparam file="$(find mymsgs_module)/config/config.yaml" />
        <rosparam command="load" file="$(find mymsgs_module)/../../map.yaml" />
    </node>
</launch>