.vscode
autonomous_fiat/src/guidance/find_path/__pycache__/
autonomous_fiat/src/guidance/find_path/images/*_path.png
autonomous_fiat/src/guidance/find_path/images/*.txt
autonomous_fiat/src/guidance/find_path/images/*.yaml
autonomous_fiat/src/guidance/find_path/images/*.gif