.vscode
autonomous_fiat/src/guidance/find_path/__pycache__/
autonomous_fiat/src/guidance/maps_processing/__pycache__/
autonomous_fiat/src/guidance/images/*_path.png
autonomous_fiat/src/guidance/images/*.txt
autonomous_fiat/src/guidance/images/*.yaml
autonomous_fiat/src/guidance/images/*.gif