<launch>
    <rosparam command="load" file="$(find mymsgs_module)/config/config.yaml" />
    <rosparam command="load" file="$(find mymsgs_module)/../guidance/find_path/images/tecnico.yaml" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find simulation_module)/config/default.rviz"/>
    <node name="simulation_node" pkg="simulation_module" type="simulation_main.py" output="screen" respawn="true" respawn_delay="1"/>  
</launch>